.wrapper {
   width: 700px;
   margin: 0 auto;
}
img {
   max-width: 100%;
}
.slider {
   margin-bottom: 20px;
}
.slick-slide {
   outline: none;
}
.slider-nav .slick-slide img {
   cursor: pointer;
}

.slider-nav {
	overflow: hidden;
}
.slider-nav .slick-list {
   margin-right: -10px;
   margin-left: -10px;
}
.slider-nav .slick-slide {
   padding-right: 10px;
   padding-left: 10px;
}
